body {
  margin: 0 auto;
  max-width: 1240px;
  font-family: "Lato", sans-serif;
}

form {
  margin-top: 20px;
}
form input {
  position: relative;
  width: calc(100% - 50px);
  height: 69px;
  background-color: #E7E7E7;
  border: 0;
  outline: 0;
  padding: 0px 25px;
  border-radius: 5px;
  font-size: 18px;
}
form input::placeholder {
  opacity: 0.25;
}
form label span {
  position: relative;
  z-index: 2;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
  font-size: 32px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.current-filters {
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
}
.current-filters__span {
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}
.current-filters__span img {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 13px;
}
.current-filters__span--ingredient {
  background-color: #3282F7;
}
.current-filters__span--appliance {
  background-color: #68D9A4;
}
.current-filters__span--ustensil {
  background-color: #ED6454;
}

.recipes-filters {
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  border-radius: 5px;
  margin-bottom: 25px;
}
.dropdown__title {
  display: flex;
  align-items: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 23px 0px 24px 15px;
  width: 170px;
  cursor: pointer;
}
.dropdown__title--span {
  margin-right: 10px;
}
.dropdown__title-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropdown__title-icon img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}
.dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  min-width: 200px;
}
.dropdown__content--is-visible {
  display: flex;
}
.dropdown ul {
  flex-wrap: wrap;
  display: flex;
}
.dropdown ul li {
  flex: 1 0 33%;
}
.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 20px;
  width: 600px;
  color: white;
}
.dropdown__list--ingredient {
  margin-right: 20px;
  background-color: #3282F7;
}
.dropdown__list--appliance {
  margin-right: 20px;
  background-color: #68D9A4;
}
.dropdown__list--ustensil {
  margin-right: 0;
  background-color: #ED6454;
}
.dropdown__list__item {
  margin-bottom: 10px;
  cursor: pointer;
}
.dropdown__list__item--active {
  font-weight: bold;
}
.dropdown--ingredient {
  margin-right: 20px;
  background-color: #3282F7;
}
.dropdown--appliance {
  margin-right: 20px;
  background-color: #68D9A4;
}
.dropdown--ustensil {
  margin-right: 0;
  background-color: #ED6454;
}
.dropdown--is-visible__content {
  display: flex;
}
.dropdown--is-visible__title-icon {
  transform: translateY(-50%) rotate(180deg);
}
.dropdown--is-visible__title-icon img {
  transform: rotate(180deg);
}
.dropdown__title-icon.active img {
  transform: rotate(180deg);
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}
.recipes article {
  width: 380px;
  height: 364px;
  overflow: hidden;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.recipes article .recipe__banner {
  height: 178px;
  background-color: #C7BEBE;
}
.recipes article .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.recipes article .title-container h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.recipes article .title-container span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.recipes article .title-container span i {
  font-weight: 500;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.recipes article .recipe__container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.recipes article .recipe__container .recipe__ingredients {
  width: 170px;
  height: 105px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  overflow: auto;
}
.recipes article .recipe__container .recipe__ingredients ul, .recipes article .recipe__container .recipe__ingredients li {
  padding: 0;
  list-style-type: none;
}
.recipes article .recipe__container .recipe__instructions {
  width: 170px;
  height: 109px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  overflow: auto;
}
.recipes:after {
  content: "";
  width: 380px;
  margin: 0px;
  padding: 0px;
  height: 0;
}